*{
    
    background-color: #fffdfd;
}

ul {
    height: max-content;
    width: max-content;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-end;
    
    
    
}
/*manejando la informacion*/
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 50px;
    background-color: lightgrey;
    margin: 3px 0px;
    padding: 0px 15px;
    font-family: sans-serif;

}
/*manejando los entrar*/
li > a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: black;
    

}